<%= render 'shared/header'%>

<h2>User info</h2>
<%= form_for (@user) do |f| %>

<% if @user. errors.any? %>
	<%= @user. errors.count %>件のerrorが発生しました。
	<% @user.errors.full_messages.each do |massage| %>
	<%= massage %>
	<% end %>
<% end %>

<p>Name</p>
<%= f.label :name %>
<%= f.text_field :name, autofocus: true, autocomplete: "neme" %>
<p>Image</p>
<%= f.attachment_field :profile_image %>

<p>introduction</p>
<%= f.label :introduction %>
<%= f.text_area :introduction %>

<%= f.submit 'Update User', class: "btn btn-default" %>

<% end %>