<%= render 'shared/header'%>

<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>

<% if @book. errors.any? %>
	<%= @book. errors.count %>件のerrorが発生しました。
	<% @book.errors.full_messages.each do |massage| %>
	<%= massage %>
	<% end %>
<% end %>

	<p>title</p>
	<%= f.text_field :title %>

	<p>opinion</p>
	<%= f.text_area :body %>
	<%= f.submit 'Update Book', class: "btn btn-primary" %>

<% end %>