<%= render 'shared/header'%>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'shared/userinfo' %>
			<%= render 'shared/newbook' %>
			</section>
		</div>


        <div class="col-xs-9">
	        <h2>Books</h2>
	        <table class="table">
	        	<thead>
	        		<tr>
	        			<th></th>
	        			<th>Title</th>
	        			<th>Opinion</th>
	        		</tr>
	        	</thead>
	        	<% @books.each do |f| %>
	        	<tbody>
	        		<tr>
	        			<td> <% f.user.name %> </td>
	        			<td> <%= f.title %> </td>
	        			<td> <%= f.body %> </td>
	        		</tr>
	        	</tbody>
	        	<% end %>
	        </table>
        </div>
    </div>
</div>