<%= render 'shared/header'%>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
            <%= render 'shared/userinfo' %>
			<%= render 'shared/newbook'%>

			<% if @book. errors.any? %>
	           <%= @book. errors.count %>件のエラーが発生しました。
	           <% @book.errors.full_messages.each do |massage| %>
	           <%= massage %>
	           <% end %>
            <% end %>

		</div>


        <div class="col-xs-9">
	        <h2>Books</h2>
	        <table class="table">
	        	<thead>
	        		<tr>
	        			<th></th>
	        			<th>Title</th>
	        		</tr>
	        	</thead>
	        	<% @books.each do |f| %>
	        	<tbody>
	        		<tr>
	        			<td> <%= attachment_image_tag f.user,:profile_image, size:"40x40" , class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg" %> </td>
	        			<td> <%= link_to f.title,  book_path(f) %> </td>
	        		</tr>
	        	</tbody>
	        	<% end %>
	        </table>
        </div>
    </div>
</div>