<%= render 'shared/header'%>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<section>
			    <h2>User info</h2>
			    <h5>name <%= @user.name %> </h5>
			    <h5>introduction <%= @user.introduction %> </h5>
			</section>
			<section>
				<h2>New book</h2>
				<%= form_for(@new) do |f| %>
				<h5>Title</h5>
				<%= f.text_field :title %>
				<h5>Opinion</h5>
				<%= f.text_area :body %>
				<%= f.submit "Create Book", class: "btn btn-primary" %>
				<% end %>
			</section>
		</div>


        <div class="col-xs-9">
	        <h2>Book detail</h2>
	        <table class="table">
	        	<thead>
	        		<tr>
	        			<th></th>
	        			<th></th>
	        			<th></th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr>
	        			<td> <%= @user.name %> </td>
	        			<td> <%= @book.title %> </td>
	        			<td> <%= @book.body %> </td>
	        			<td> <%= link_to 'Edit',edit_book_path(@book), class: "btn btn-success" %></td>
	        			<td> <%= link_to 'Destroy', book_path(@book), class: "btn btn-danger", method: :delete, data:{confirm:"本当に削除しますか？"} %> </td>
	        		</tr>
	        	</tbody>
	        </table>
        </div>
    </div>
</div>