<div class="container-fluid" style="background-color: black;">
				<h4 style="color: white;">Bookers</h4>
				<nav class="pull-right">
					<ul class="list-inline " style="color: silver;">
					<% if user_signed_in? %>
						<li class="active">
							<span class="glyphicon glyphicon-home" aria-hidden="true">
								<%= link_to 'Home', "#" %>
							</span></li>
			            <li class="active">
			                 <span class="glyphicon glyphicon-user" aria-hidden="true">
			                 	Users </span>
		                </li>
			            <li class="active">
			                <span class="glyphicon glyphicon-book" aria-hidden="true">
			                	<%= link_to "Books", books_path %>
			                </span>
			            </li>
			            <li class="active">
				            <span class="glyphicon glyphicon-log-out" aria-hidden="true"><%= link_to "logout", destroy_user_session_path, method: :delete %>
				            </span>
			            </li>
			            <% else %>
			            <li class="active">
			            	<span class="glyphicon glyphicon-home" aria-hidden="true">
								"Home"
							</span>
			            </li>
			            <li class="active">
			            	<span class="glyphicon glyphicon-link" aria-hidden="true">
			            		About
			            	</span>
			            </li>
			            <li class="active">
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true">
			            		<%= link_to "sign_up", new_user_registration_path %>
			            	</span>
			            </li>
			            <li class="active">
			            	<span class="glyphicon glyphicon-log-in" aria-hidden="true">
			            	    <%= link_to "login", new_user_session_path %>
			                </span>
			            </li>
			            <% end %>
		            </ul>
	            </nav>
</div>